modules = ["web", "nodejs-20", "python-3.12"]
run = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45783391
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
